@import '../../styles/colors';
@import '../../styles/mixins';

.playerGames {
  margin: 0 auto;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 95%;

  .gameContainer {
    color: white;

    .gameHeader {
      @include fadeInAnimation();

      background: #17172e;
      font-weight: bold;
      margin: 25px auto 5px auto;
      max-width: 850px;
      min-width: 750px;
      padding: 10px 35px;
      position: relative;

      .time {
        position: absolute;
        right: 35px;
      }
    }

    .game {
      @include fadeInAnimation();

      background: #222238;
      border: 2px solid black;
      cursor: pointer;
      display: flex;
      flex: 1 1 150px;
      flex-direction: column;
      font-size: 1.5em;
      justify-content: space-evenly;
      margin: 5px auto;
      max-width: 850px;
      min-width: 750px;
      padding: 10px 35px;
      text-align: center;
      transition: 0.3s all ease-in-out;
      user-select: none;

      .gameData {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;

        .stage {
          width: 100px;
        }

        .stageName {
          font-size: 0.5em;
        }

        .character {
          text-align: center;
          width: 30%;

          .playerName {
            font-weight: bold;
            margin-bottom: 10px;
          }

          .characterName {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .playerGames {
    overflow-x: auto;
  }
}
