@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/sizing';

.loading {
  padding-top: 50px;
}

.playerGames {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 95%;

  .gameContainer {
    color: white;
    position: relative;
    z-index: 0;

    .gameHeader {
      @include fadeInAnimation();
      @include basicHeader();

      max-width: 850px;
      min-width: $smallScreen;

      .time {
        position: absolute;
        right: 35px;
      }
    }

    .gameContent {
      @include fadeInAnimation();
      @include basicContent();

      max-width: 850px;
      min-width: $smallScreen;

      .gameData {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;

        .stage {
          width: 100px;
        }

        .stageName {
          font-size: 0.5em;
        }

        .character {
          text-align: center;
          width: 30%;

          .playerName {
            font-weight: bold;
            margin-bottom: 10px;
          }

          .characterName {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $smallScreen) {
  .playerGames {
    overflow-x: auto;

    .gameContainer {
      .gameHeader {
        min-width: 150px;
      }

      .gameContent {
        font-size: 1em;
        min-width: 150px;
        padding: 5px 0;

        .gameData {
          .stage {
            width: 75px;
          }

          img {
            width: 75px;
          }
        }
      }
    }
  }
}
