.playerSelection {
  display: flex;
  flex-direction: column;

  .inviteContainer {
    display: flex;

    .inviteTypeContainer {
      display: flex;
      margin-left: 5px;

      .inviteType {
        align-items: center;
        background: rgb(0, 0, 0, 0.8);
        border: 2px solid black;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        opacity: 0.8;
        position: relative;
        width: 75px;

        &:last-child {
          left: -2px;
        }

        &.selected {
          opacity: 1;
        }
      }
    }
  }

  .controlButtons {
    margin: 20px auto;

    .button {
      margin: 0 5px;
    }
  }
}
