@import '../../../styles/colors';
@import '../../../styles/mixins';

.playerGames {
  margin: 0 auto;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 95%;

  .gameContainer {
    .game {
      @include fadeInAnimation();

      background: #99fdfe;
      border: 2px solid black;
      display: flex;
      flex: 1 1 150px;
      flex-direction: column;
      font-size: 1.5em;
      height: 175px;
      justify-content: space-evenly;
      margin: 10px;
      padding: 10px 35px;
      text-align: center;

      &.netplay {
        background: $gray-50;
      }

      .metadata {
        .stat {
          text-align: left;

          .label {
            display: inline-block;
            font-weight: bold;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
