@import '../../styles/mixins';
@import '../../styles/sizing';

.game {
  margin: 25px;

  .contentHeader {
    @include basicHeader();

    margin: 10px;

    .time {
      position: absolute;
      right: 35px;
    }
  }

  .content {
    @include basicContent();

    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin: 10px;

    img {
      width: 100px;
    }
  }

  .gameStats {
    display: flex;

    .statContainer {
      z-index: 1;
      width: 50%;
    }
  }
}

@media screen and (max-width: 550px) {
  .game {
    .gameStats {
      flex-direction: column;

      .statContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
