.gameStats {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
  width: 100%;

  .filler {
    color: transparent;
  }

  .player1,
  .player2 {
    width: 30%;
  }

  .stat {
    text-align: left;

    .label {
      display: inline-block;
      font-weight: bold;
      margin-right: 5px;
      text-align: right;
      width: 155px;
    }
  }
}