@import '../../styles/mixins';
@import '../../styles/sizing';

.game {
  .stageHeader {
    @include basicHeader();

    margin: 10px;
  }

  .stageData {
    @include basicContent();

    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin: 10px;

    img {
      width: 100px;
    }
  }

  .gameStats {
    display: flex;

    .statContainer {
      z-index: 1;
      width: 50%;
    }
  }
}

@media screen and (max-width: 550px) {
  .game {
    .stageData {

    }

    .gameStats {
      flex-direction: column;

      .statContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
